<% include partial/header %>

<div id="app">
	<div class="container">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<th>Name</th>
					<th>Path</th>
					<th>Status</th>
					<th>Action</th>
					<th>Monitor</th>
					<th>Delete</th>
				</thead>
				<tbody>
					<tr v-for="command in command_list">
						<td>{{ command.name }}</td>
						<td>{{ command.path }}</td>
						<td>{{ command.status }}</td>
						<td>
							<a :href="'/run/'+ command.name" v-if="command.status == '0' ">run</a>
							<a :href="'/stop/'+ command.name" v-if="command.status != '0' ">stop</a>
						</td>
						<td>
							<a :href="'/monitor/' +  command.name ">Enter</a>
						</td>
						<td>
							<a :href="'/delete/'+ command.name">X</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div> 
<script type="text/javascript">
	var app = new Vue({
	  	el: '#app',
	  	data: {
	    	command_list :  <%- JSON.stringify(data) %>
	  	}
	});
</script>


<% include partial/footer %>
