<!DOCTYPE html>  
<html>  
<head>  
<meta charset="utf-8">  
<title>實作EJS</title>  
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>  
<body>  
<div id="app">
	<table>
		<thead>
			<th>Name</th>
			<th>Path</th>
			<th>Status</th>
			<th>Action</th>
			<th>Monitor</th>
		</thead>
		<tbody>
			<tr v-for="command in command_list">
				<td>{{ command.name }}</td>
				<td>{{ command.path }}</td>
				<td>{{ command.status }}</td>
				<td v-if="command.status == '0' ">
					<a :href="'/gulp/run/'+ command.name">run</a>
				</td>
				<td v-if="command.status != '0' ">
					<a :href="'/gulp/stop/' +  command.name ">stop</a>
				</td>
				<td>
					<a :href="'/gulp/monitor/' +  command.name ">Enter</a>
				</td>
			</tr>
		</tbody>
	</table>
	
</div> 
</body> 
<script type="text/javascript">
	var app = new Vue({
	  	el: '#app',
	  	data: {
	    	command_list :  <%- JSON.stringify(data) %>
	  	}
	});
</script>
</html>  