<!DOCTYPE html>  
<html>  
<head>  
<meta charset="utf-8">  
<title>實作EJS</title>  
</head>  
<body>  
<div id="messages_area">
	
</div> 
</body>  
<script type="text/javascript" src="/static/js/socket.io.js"></script>
<script type="text/javascript">
	var socket = io.connect('http://192.168.3.36:3000');
	var console_name = '<%= console_name %>';
	socket.on('news_messages_<%= console_name %>', function(data){
		if(console_name == data.console_name){
			document.write(data.messages+'<br>');
		}
	});
</script>
</html>  